body{
    background-color:#130f40;

}

body{
    color: #dff9fb;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}

.btn{
    cursor: pointer;

}

.clicked{
    color: #e1b12c;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    tp{
        opacity: 1;
    }
}

.backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}